#these were not originally apart of the repo -- appeared after build
/kernel/kernel.bin
/kernel/flash.bin
/kernel/boot-commands
/kernel/card.sd
/toolchain/target/
/u-boot/u-boot-*
/qemu/
!/qemu/build.sh

.settings/
.cproject
.project

#always exclude these from being pushed
*.o
*.img
*.map
*.elf
*.bin
*~
*.swp
/user/hello/hello
/user/libc/libc.a

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

NOTES
